.testimonials .container{
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
}
.testimonials .card{
    border-color: transparent;
    width: 300px;
    display: flex;
    float: left;
    margin-left: 50px;
}

.testimonials .card .card-footer{
    background: transparent;
    border: 0;
}
